<p id="notice"><%= notice %></p>

<p>
  <strong>Date from:</strong>
  <%= @vote_schedule.date_from %>
</p>

<p>
  <strong>Date to:</strong>
  <%= @vote_schedule.date_to %>
</p>


<%= link_to 'Edit', edit_vote_schedule_path(@vote_schedule) %> |
<%= link_to 'Back', vote_schedules_path %>
