
<%= javascript_include_tag "home.js" %>

<h1>Listing Selectors</h1>


<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>Email</th>
      <th>Status</th>
      <th>Activate Selector</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.approved? ? 'Active' : 'Waiting For Approval' %></td>
        <td><%= link_to "Activate", home_activate_selector_path(:id => user.id) ,class: 'btn btn-default'%></td>       
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.role == 'Admin'%>
  <%= link_to 'Final Candidates' ,final_candidate_candidates_path , :class => 'btn btn-default'%>
<%end%>

